# .github/workflows/publish-release.yml
name: Publish release
on:
  push:
    tags:
      - "*"
jobs:
  publish:
    runs-on: ubuntu-latest
    name: Publish release
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Deps
        run: sudo apt-get update && sudo apt-get install -y libsdl2-image-dev
      - name: Build
        run: cargo build --release --verbose
        run: cp target/release/imagenav imagenav-${{env.github_ref}}
      - name: Publish release
        uses: eloquent/github-release-action@v3
        with:
          assets: |
            - path: target/release/imagenav-${{env.github_ref}}
